@font-face { font-family: 'Jet Set Radio'; src: url(../fonts/JetSetRadio.ttf); }
@font-face { font-family: 'Jet Set Italic'; src: url(../fonts/JetSetItalic.ttf); }
@font-face { font-family: 'Jet Set Future'; src: url(../fonts/JetSetFuture.ttf); }