<!DOCTYPE HTML>
<html lang="en-US">
{% include head.html %}

<body class="bg-dark text-white">
    {% include navbar.html %}
    <div class="container-fluid bg-secondary pt-5 pb-5 text-center jumbotron">
        <h1 class="display-1 font-brand">FAQ</h1>
        <p class="lead font-main">Some frequently asked questions about {{ site.title }}</p>
    </div>
    <div class="container pt-3 pb-3">
        <h1 id="how-do-i-submit-runs" class="font-main">How do I submit runs?</h1>
        <p>
        Glad you asked! First, you need to make sure that your run is valid. There are 
        two ways to validate your run for submission:
        <br>&nbsp;<br>
        For Offline Players:<br>
        - be done in devmode;<br>
        - have the console open and clearly visible (press the ~ key to the left of the 
        1 key above the main keyboard);<br>
        - have your in-game name typed in the command input field.
        <br>&nbsp;<br>
        For Online Players:<br>
        - have chatbox not showing any other names beside yours, of course;<br>
        - contain two screenshots: one for the time on the win screen, second for player 
        list and your total tag count on the scoreboard (press P key)
        <br>&nbsp;<br>
        Once you have this information ping <b>Chroma9</b> on Discord in the 
        <b>#screenshots</b> channel with this information.
        </p>
        <h1 id="why-are-some-values-unknown" class="font-main">Why are some values "Unknown"?</h1>
        <p>
        Before the website existed, only the first three places were documented with the names and
        times of the runs for Jet Graffiti and Race Mode. "Unknown" is a value for when screenshots
        could not be validated/found and the owner could not be found/contacted.
        </p>
    </div>
    {% include footer.html %}
</body>

</html>