<!DOCTYPE HTML>
<html lang="en-US">
{% include head.html %}

<body class="bg-dark text-white">
    {% include navbar.html %}
    <div class="container-fluid bg-secondary pt-5 pb-5 text-center jumbotron">
        <h1 class="display-1 font-brand">{{ site.logo }}</h1>
        <p class="lead font-main">{{ site.description }}</p>
    </div>
    <div class="container pt-3 pb-3">
        <h1 id="where-am-i" class="font-main">Where am I?</h1>
        <p>
        What's, up Rudie? You must know whats up on the streets of Tokyo-to if
        somehow you ended up on this website. This is where the records of <b>JSRFMP</b> 
        are kept. We store the most talented records of the rudies on the streets 
        whether they're blazing new race records or turning heads with how fast they 
        can paint a street from top to bottom. We wanna make sure that people are 
        recognized for the talents they achieve in one way or another.
        </p>
        <h1 id="what-is-jsrfmp" class="font-main">What is "JSRFMP"?</h1>
        <p>
        I'm glad you asked. It's been 20 years since the last time we truly heard
        from anyone over at <b>SEGA</b> about the future or the Jet Set Series.
        So, at some point in 2018, someone named <b>Screenracer</b> decided to take
        things into his own hands and created a fangame called <b>JSRFMP</b>. It's 
        a faithful recreation of <b>Jet Set Radio Future</b> and even adds elements
        from the original <b>Jet Set Radio</b>. The best part of it? It's a full
        recreation from scratch and allows online multiplayer without any setup!
        Kind of a dream for most of us players.
        </p>
        <h1 id="what-is-jet-set-radio" class="font-main">What is "Jet Set Radio"?</h1>
        <p>
        Looks like it's a bit of a story time. Way back around the start of the 
        2000's, the game <b>Jet Set Radio</b> landed on the scene thanks to a company
        called <b>SEGA</b>. The player controls a member of a gang of graffiti-tagging 
        inline skaters. The game focused on claiming the streets for freedom away from
        a tyrannical man named Rokkaku Gouji. The game became a cult classic due to the
        choice of cell-shaded graphics, innovative gameplay, and an incredible soundtrack.
        </p>
        <p>
        About 2 years later, it's sequel <b>Jet Set Radio Future</b> was released for <b>XBOX</b>
        and was once again a cult classic. The game was a huge success and the community
        loved it as much as the original and some people even preferred it over the original.
        The gameplay carried itself well and the new expansions such as the new designs, graffiti
        effects, characters and another soundtrack that was a perfect successor to the original 
        made this game what is is.
        </p>
    </div>
    {% include footer.html %}
</body>

</html>