<!DOCTYPE HTML>
<html lang="en-US">
{% include head.html %}

<body class="bg-dark text-light">
    {% include navbar.html %}
    <div class="container-fluid bg-secondary pt-5 pb-5 text-center">
        <h1 class="display-1 font-brand">{{ page.title }}</h1>
        <p class="lead font-main">{{ page.description }}</p>
    </div>
    <div class="container pt-5 pb-5">
        {% include record-wave-table.html id="shibuya" name="Shibuya Terminal" %}
        {% include record-wave-table.html id="99th" name="99th Street" %}
        {% include record-wave-table.html id="chuo" name="Chuo Street" %}
        {% include record-wave-table.html id="shinjuku" name="Shinjuku Station" %}
    </div>
    {% include footer.html %}
    <script src="/assets/js/dropdowns.js"></script>
    <script src="/assets/js/laststand.js"></script>
</body>

</html>